* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 5px 35px 35px 30px;
  /* width: 1260px; */
  /* height: 970px; */
}

.init {
  display: -webkit-box !important;
  width: 100%;
  margin-right: 20px;
}

.pass{
  margin-left: 30%;
  text-align: center;
}

.pass_div{
  padding: 20px;
}

.scrollbar-container {
  height: calc(100vh - 88px),;
  padding-left: 16px;
  padding-right: 16px
}

.header{
  margin-bottom: 20px;
  /* margin-right: 10px; */
  width: fit-content;
  background-color: white;
  color: #0d6efd;
  border: none;
}

.globe{
  border: none;
}

.template-container{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 30% 70%; */
  /* grid-template-rows: 100vh; */
  /* width: 100vw; */
}

.template-left-side{
  flex-direction: column;
  /* grid-column: 1 / 2; */
  /* grid-row: 1 / 2; */
  /* background-color: aqua; */
  /* width: 100%; */
  /* height: 100%; */
}

.template-content{
  /* grid-column: 2 / 3; */
  /* grid-row: 1 / 2; */
  /* background-color: blueviolet; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
}

.stadistic{
  /* height: 10%; */
  /* background-color: brown; */
  width: 100%;
}

.barraLat {
  width: 45vh;
  /* height: 100vh */
}
.css-1pv7ovc {
  display: flex;
  align-items: center;
  /* padding: 16px 20px; */
  border-radius: 12px;
  background-color: rgba(145, 158, 171, 0.12);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* width: 40vh; */
  height: 10vh;
  justify-content: space-evenly;
}
.css-1pv7ovc div img {
  width: 8vh;
  height: 8vh;
  border-radius: 10vh;
}
.css-1pv7ovc p{
  margin-bottom: 0;
}
.buttonOv{
  display: inline !important;
  /* margin: 2vh; */
  align-items: center;
  align-content: center;
  font-variant-caps: small-caps;
  /* margin-left: 17vh; */
  width: 150px;
}
.cabOV{
  display: flex;
  justify-content: space-between;
}
.tableProducts {
  margin-top: 10px;
}

/* .img_prod{
  width: 100px;
  transition: 1s;
}

.img_prod:hover{
  transform: scale(5);
} */

.btn_img{
  width: 100px;
}

.div_img{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.466);
}

.div_img img{
  display: block;
}

/* .btn_img.active{
  transition: all 1s ease-out;
  animation: show 1s ease-in forwards;
}

@keyframes show {
  from{
    transform: scale(1);
    opacity: 0;
    height: 0%;
  } 
  to{
    transform: scale(5);
    opacity: 1;
    height: 1%;
  } 
} */

.image-card{
  width: 3vh;
}

.subTittle{
  text-align: end;
}
.resumen{
  width: 25%;
  margin-left: 75%;
}

.search {
  width: 30%;
}

.client{
  margin-bottom: 15px;
}

.list_prod{
  list-style: none;
  font-size: 20px;
}

.list_prod_sp{
  color:rgba(0, 0, 0, 0.466);
  font-size: 15px;
}

.err_log{
  color: red;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-userChat{
  height: 100%;
  width: 100%;
  background-color:#919eab1f;
  opacity: 200ms;
  border-radius: 12px;
  margin-top: 20px;
  padding: 10px;
  color: #0d6efd;
  text-align: left;
}

/* ********Chat********* */
.page{
  /* display: flex; */
  height: 100%;
  width: 100%;
  /* align-items: center; */
  background-color:#919eab1f;
  opacity: 200ms;
  /* flex-direction: column; */
  border-radius: 12px;
  margin-top: 20px;
  padding: 25px;
}

.p_chat{
  color: #0d6efd;
  /* color: #46516e; */
  margin-left: 10px;
}

.container_chat{
  display: flex;
  flex-direction: column;
  height: 150px;
  max-height: 500px;
  overflow: auto;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  scrollbar-width: 20px;
  /* margin-top: 25px; */
}

.in_chat{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: lightgray;
  letter-spacing: 1px;
  line-height: 20px;
}

::placeholder {
  color: lightgray;
}

.chat_btn{
  background-color: #0d6efd;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  margin-top: 10px;
}

.f_chat{
  width: 100%;  
}

.myRow{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.myMessage{
  width: 45%;
  background-color: #0d6efd;
  color: #ffffff;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.partnerRow{
  justify-content: flex-start;
}

.partnerMessage{
  width: 45%;
  background-color: transparent;
  color: lightgray;
  font-weight: bold;
  border: 1px solid lightgray;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}